<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        </div>
        <nav>
            <ul class = "mainNav">
                <li class="nav">
                    <a href="/"><%=homeNav%></a>
                </li>
                <li class="nav">
                    <a href="/symptoms"><%=symptomsNav%></a>
                </li>
                <li class="nav">
                    <a href="/contact"><%=contactNav%></a>
                </li>
                <li class="nav">
                    <a href="/learning"><%=learningNav%></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="text">
            <h1><%=heading%></h1>
            <p>
                <%=contactPara%>
            </p>
        
        </section>
        <section id="contactSection">
            <div id="contactAdmin" class="contactPart">
                <h3><%=sysAdminName%></h3>
                <address><%-sysAdminAddress%></address>
                <p class="phone"><br><%=sysAdminPhone%></p>
            </div>
            <div id="contactAid" class="contactPart">
                <h3><%=aidName%></h3>
                <address><%-aidAddress%></address>
                <p class="phone"><br><%=aidPhone%></p>
            </div>
            <div id="contactDoctor" class="contactPart">  
                <h3><%=doctorName%></h3>
                <address><%-doctorAddress%></address>
                <p class="phone"><br><%=doctorPhone%></p>
            </div>
        </section>
        <!-- <div class="main-our-doctors">
            <div class="doctor-heading">
                <h1>Our <span>Doctors</span></h1>
            </div>
    
            <div class="doctor-inner-main-div">
    
                <div class="doctor-innerbox" id="ourdoctors">
                    
    
                    <div class="doctor-icons">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-share"></i>
                        <i class="fa-solid fa-eye"></i>
                    </div>
    
                    <div class="teamimg">
                        <img src="assets/doctor1.png" alt="">
                    </div>
    
                    <div class="doc-innernames">
                        <h2>Dr. Dara Phan </h2>
                    </div>
                    
                </div>
    
                <div class="doctor-innerbox">
    
                    <div class="doctor-icons">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-share"></i>
                        <i class="fa-solid fa-eye"></i>
                    </div>
    
                    <div class="teamimg">
                        <img src="assets/doctor2.png" alt="">
                    </div>
    
                    <div class="doc-innernames">
                        <h2>Dr. Narin Men</h2>
                    </div>
                    
                </div>
    
                <div class="doctor-innerbox">
    
                    <div class="doctor-icons">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-share"></i>
                        <i class="fa-solid fa-eye"></i>
                    </div>
    
                    <div class="teamimg">
                        <img src="assets/doctor2.png" alt="">
                    </div>
    
                    <div class="doc-innernames">
                        <h2>Dr. Sovan Vang</h2>
                    </div>
                    <div class="doc-subcontact">
                        <h3>Address: </h3>
                        <h3>Telephone: </h3>
                    </div>
                    
                </div>
    
                <div class="doctor-innerbox">
    
                    <div class="doctor-icons">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-share"></i>
                        <i class="fa-solid fa-eye"></i>
                    </div>
    
                    <div class="teamimg">
                        <img src="assets/doctor2.png" alt="">
                    </div> -->
    
    </main>
</body>
</html>