<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
    <!-- <script src="/Routes/index.js" defer></script> -->
    <script src="../indexButtons.js" defer></script>
</head>
<body>
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        </div>
        <nav>
            <ul class = "mainNav">
                <li class="nav">
                    <a href="/"><%=homeNav%></a>
                </li>
                <li class="nav">
                    <a href="/symptoms"><%=symptomsNav%></a>
                </li>
                <li class="nav">
                    <a href="/contact"><%=contactNav%></a>
                </li>
                <li class="nav">
                    <a href="/learning"><%=learningNav%></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="indexWrapper">
            <section class="text">
                <h1><%=heading%></h1>
                <p>
                    <%=mainPara%>
                </p>
                </article>
            </section>
            <section id="homeBoxes">
                <article id="whatBox" class="homeBoxes">
                    <div class="textbox">
                        <p>
                            <%=diagnosisPara%>
                        </p>
                        <div class="arrowBox">
                            <i class="fa-solid fa-arrow-right homeArrows" id="symptomArrow"></i>
                        </div>
                        <h2 class="homeBoxH2"><%=diagnosisHeader%></h2>
                    </div>
                </article>
                <article id="howBox" class="homeBoxes">
                    <div class="textbox">
                        <p>
                            <%=contactPara%>
                        </p>
                        <div class="arrowBox">
                            <i class="fa-solid fa-arrow-right homeArrows" id="contactArrow"></i>
                        </div>
                        <h2 class="homeBoxH2"><%=contactHeader%></h2>
                    </div>
                </article>
            </section>
            <section id="firstaid">
                <div class="bottomPara">
                    <h2><%=firstAidHeader%></h2>
                    <p><%=firstAidPara%></p>
                    <button id="learningButton"><%=learningButton%></i></button>
                </div>
                <img src="../assets/first-aid.png" alt="">
            </section>
        </div>
    </main>
    <footer>
        <address><%=footerText%></address>
    </footer>
</body>
</html>
