<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
    <script src="./Routes/index.js" defer></script>
</head>
<body>
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        </div>
        <nav>
            <ul class = "mainNav">
                <li class="nav">
                    <a href="/"><%=homeNav%></a>
                </li>
                <li class="nav">
                    <a href="/symptoms"><%=symptomsNav%></a>
                </li>
                <li class="nav">
                    <a href="/contact"><%=contactNav%></a>
                </li>
                <li class="nav">
                    <a href="/learning"><%=learningNav%></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="text">
            <h1><%=heading%></h1>
            <p>
                Filler content Filler content Filler content Filler content Filler content Filler content 
            </p>
            </article>
        </section>
        <section id="homeBoxes">
            <article id="whatBox" class="homeBoxes">
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=diagnosisHeader%></h2>
                    <p>
                        <%=diagnosisPara%>
                    </p>
                    <div class="arrowBox">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </article>
            <article id="howBox" class="homeBoxes">
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=contactHeader%></h2>
                    <p>
                        <%=contactPara%>
                    </p>
                    <div class="arrowBox">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </article>
        </section>
        <section id="firstaid">
            <div>
                <h2>Become a First Aider</h2>
                <p>fillerererererere </p>
            </div>
            <img src="../assets/first-aid.png" alt="">
        </section>
        <section id="illnesses">
            <h2>Health Conditions</h2>
            <div id="illnessbox">
                <div class="illness">
                </div>
                <div class="illness">
                </div>
                <div class="illness">
                </div>
                <div class="illness">
                </div>
            </div>
            <h3>Browse More</h3>
            <img src="../Public/assets/first-aid.png" alt="">
        </section>
    </main>
    <footer>
    
    </footer>
</body>
</html>
