<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
    <script src="../cycleLearning.js" defer></script>
</head>
<body>
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        </div>
        <nav id="mainNav">
            <ul class = "mainNav">
                <li class="nav">
                    <a href="/"><%=homeNav%></a>
                </li>
                <li class="nav">
                    <a href="/symptoms"><%=symptomsNav%></a>
                </li>
                <li class="nav">
                    <a href="/contact"><%=contactNav%></a>
                </li>
                <li class="nav">
                    <a href="/learning"><%=learningNav%></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="text">
            <h1>Welcome to E-Learning</h1> 
            <p>This is the paragraph which will explain the point and use of e learning</p>
        </section>

       <section id="learning">
        <div id="buttons">
            <button>
                cpr
            </button>
            <button>

            </button>
            <button>

            </button>
            <button>

            </button>
        </div>
        <div class="education active">
            <div class="edbox">
                <div class="topbar">
                    <div clss="topbarleft">
                        <h2>CPR</h2>
                    </div>
                    <div class="topbarnav">
                        <h3>page 1</h3>
                        <button>
                            <i class="fas fa-arrow-left"></i>
                        </button> 
                        <button onclick="nextPage()">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>

                <section class="edcontent active" id="cpr-1">
                    <h2>Welcome to CPR ELearning</h2>

                    <div class="edtext">
                        <p>
                            This is the paragraph which will explain the point and use of e learning
                        </p>
                        <img src="../assets/first-aid.png" alt="">
                    </div>
                </section>
                <section class="edcontent" id="cpr-2">
                    <h2>page 2</h2>

                    <div class="edtext">
                        <p>
                            This is the paragraph which will explain the point and use of e learning
                        </p>
                        <img src="../assets/first-aid.png" alt="">
                    </div>
                </section>
                <section class="edcontent" id="cpr-3">
                    <h2>page 3</h2>

                    <div class="edtext">
                        <p>
                            This is the paragraph which will explain the point and use of e learning
                        </p>
                        <img src="../assets/first-aid.png" alt="">
                    </div>
                </section>
            </div>
        </div>
       </section>
    </main>
</body>
</html>