<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
    <script src="../cycleLearning.js" defer></script>
</head>
<body>
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        </div>
        <nav id="mainNav">
            <ul class = "mainNav">
                <li class="nav">
                    <a href="/"><%=homeNav%></a>
                </li>
                <li class="nav">
                    <a href="/symptoms"><%=symptomsNav%></a>
                </li>
                <li class="nav">
                    <a href="/contact"><%=contactNav%></a>
                </li>
                <li class="nav navActive">
                    <a href="/learning"><%=learningNav%></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="text">
            <h1><%=header%></h1> 
            <p><%=description%></p>
        </section>

       <section id="learning">
        <div id="buttons">
            <div class="classButton" id="cpr" onclick="openLearning('cpr_l')">
                <div class="textbox" id="cpr_b">
                    <h2><%=bls%></h2>
                </div>
            </div>
            <div class="classButton" id="wound" onclick="openLearning('cpr_l')">
                <div class="textbox" id="wound_b">
                    <h2><%=wound%></h2>
                </div>
            </div>
            <div class="classButton" onclick="openLearning('cpr_l')" id="fracture">
                <div class="textbox" id="fracture_b">
                    <h2><%=fracture%></h2>
                </div>
            </div>
            <div class="classButton" onclick="openLearning('cpr_l')" id="burn">
                <div class="textbox" id="burn_b">
                    <h2><%=burn%></h2>
                </div>
            </div>
            <div class="classButton" id="choking" onclick="openLearning('cpr_l')">
                <div class="textbox" id="choking_b">
                    <h2><%=choking%></h2>
                </div>
            </div>
            <div class="classButton" onclick="openLearning('cpr_l')" id="poison">
                <div class="textbox" id="poison_b">
                    <h2><%=poisoning%></h2>
                </div>
            </div>
            <div class="classButton" onclick="openLearning('cpr_l')" id="allergy">
                <div class="textbox" id="allergy_b">
                    <h2><%=allergy%></h2>
                </div>
            </div>
            <div class="classButton" onclick="openLearning('cpr_l')" id="shock">
                <div class="textbox" id="shock_b">
                    <h2><%=shock%></h2>
                </div>
            </div>
        </div>
       </section>
        <div class="education" id="cpr_l">
            <div class="edbox">
                <div class="topbar">
                    <div onclick="closeLearning()" class="topbarleft">
                        <h2 ><i class="fa-solid fa-x"></i></h2>
                    </div>
                    <div class="topbarnav">
                        <button>
                            <i class="fas fa-arrow-left"></i>
                        </button> 
                        <button onclick="nextPage()">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>

                <section class="edcontent active" id="cpr-1">
                    <h2><%=blsWelcome%></h2>

                    <div class="edtext">
                        <p>
                        <%=blsContent%>
                        </p>
                        <img src="../assets/first-aid.png" alt="">
                    </div>
                </section>
                <section class="edcontent" id="cpr-2">
                    <h2><%=blsCPRtitle%></h2>

                    <div class="edtext">
                        <p>
                        <%=blsCPR%>
                        <br/>
                        <br/>
                        <%=blsCPR2%>
                        <br/>
                        <br/>
                        <%=blsCPR3%>
                        <br/>
                        <br/>
                        <%=blsCPR4%>
                        <br/>
                        <br/>
                        <%=blsCPR5%>
                        <br/>
                        <br/>
                        <%=blsCPR6%>
                        </p>
                        <video class="video" controls="true" preload="none">
                            <source src="../assets/cpr.mp4" type="video/mp4">
                            "Your browser does not support the video tag."
                        </video>
                    </div>
                </section>
                <section class="edcontent" id="cpr-3">
                    <h2><%=blsAEDtitle%></h2>

                    <div class="edtext">
                        <p>
                        <%=blsAED%>
                        <br/>
                        <br/>
                        <%=blsAED2%>
                        <br/>
                        <br/>
                        <%=blsAED3%>
                        <br/>
                        <br/>
                        <%=blsAED4%>
                        <br/>
                        <br/>
                        <%=blsAED5%>
                        </p>
                        <video class="video" controls="true" preload="none">
                            <source src="../assets/aed.mp4" type="video/mp4">
                            "Your browser does not support the video tag."
                        </video>
                    </div>
                </section>
            </div>
        </div>
       </section>
    </main>
    <footer>
        <address><%=footerText%></address>
    </footer>
</body>
</html>