<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        </div>
        <nav id="mainNav">
            <ul class = "mainNav">
                <li class="nav">
                    <a href="/"><%=homeNav%></a>
                </li>
                <li class="nav">
                    <a href="/symptoms"><%=symptomsNav%></a>
                </li>
                <li class="nav">
                    <a href="/contact"><%=contactNav%></a>
                </li>
                <li class="nav">
                    <a href="/learning"><%=learningNav%></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="text">
            <h1>Welcome to E-Learning</h1> 
            <p>This is the paragraph which will explain the point and use of e learning</p>
        </section>

       <section id="learning">
        <div id="buttons">
            <button>
                cpr
            </button>
            <button>

            </button>
            <button>

            </button>
            <button>

            </button>
        </div>
        <div id="education">
            <div id="edbox">

            </div>
        </div>
       </section>
    </main>
</body>
</html>