<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        </div>
        <nav id="mainNav">
            <ul class = "mainNav">
                <li class="nav">
                    <a href="/"><%=homeNav%></a>
                </li>
                <li class="nav">
                    <a href="/symptoms"><%=symptomsNav%></a>
                </li>
                <li class="nav">
                    <a href="/contact"><%=contactNav%></a>
                </li>
                <li class="nav">
                    <a href="/learning"><%=learningNav%></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="text">
            <h1><%=header%></h1>
            <p>
                Filler content Filler content Filler content Filler content Filler content Filler content 
            </p>
        </section>

        <section id="symptomsearch">
            <div class="symptombox">
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom1%></h2>
                    <img src="../Public/assets/" alt=""/>
                    <p>
                        Filler content Filler content Filler content Filler content Filler content Filler content 
                    </p>
                </div>
            </div>            
            <div class="symptombox">
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom2%></h2>
                    <img src="../Public/assets/" alt=""/>
                    <p>
                        Filler content Filler content Filler content Filler content Filler content Filler content 
                    </p>
                </div>
            </div>     
            <div class="symptombox">
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom3%></h2>
                    <img src="../Public/assets/" alt=""/>
                    <p>
                        Filler content Filler content Filler content Filler content Filler content Filler content 
                    </p>
                </div>
            </div>            
            <div class="symptombox">
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom4%></h2>
                    <img src="../Public/assets/" alt=""/>
                    <p>
                        Filler content Filler content Filler content Filler content Filler content Filler content 
                    </p>
                </div>
            </div>           
            <div class="symptombox">
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom5%></h2>
                    <img src="../Public/assets/" alt=""/>
                    <p>
                        Filler content Filler content Filler content Filler content Filler content Filler content 
                    </p>
                </div>
            </div>            
            <div class="symptombox">
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom6%></h2>
                    <img src="../Public/assets/" alt=""/>
                    <p>
                        Filler content Filler content Filler content Filler content Filler content Filler content 
                    </p>
                </div>
            </div>     
            <div class="symptombox">
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom7%></h2>
                    <img src="../Public/assets/" alt=""/>
                    <p>
                        Filler content Filler content Filler content Filler content Filler content Filler content 
                    </p>
                </div>
            </div>            
            <div class="symptombox">
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom8%></h2>
                    <img src="../Public/assets/" alt=""/>
                    <p>
                        Filler content Filler content Filler content Filler content Filler content Filler content 
                    </p>
                </div>
            </div> 
            <button id="symptomSubmit">
                    <%=button%>
            </button>
        </section>
    </main>

</body>
</html>