<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
    <script src="../setSymptomActive.js" defer></script>
</head>
<body>
    
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        </div>
        <nav id="mainNav">
            <ul class = "mainNav">
                <li class="nav">
                    <a href="/"><%=homeNav%></a>
                </li>
                <li class="nav">
                    <a href="/symptoms"><%=symptomsNav%></a>
                </li>
                <li class="nav">
                    <a href="/contact"><%=contactNav%></a>
                </li>
                <li class="nav">
                    <a href="/learning"><%=learningNav%></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="text">
            <h1><%=header%></h1>
            <p>
                <%-description%>
            </p>
        </section>

        <section id="symptomsearch">
            <div class="symptombox" id="symptom0" onclick="setActive('symptom0', '0')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[0].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom1" onclick="setActive('symptom1', '1')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[1].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom2" onclick="setActive('symptom2', '2')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[2].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom3" onclick="setActive('symptom3', '3')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[3].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom4" onclick="setActive('symptom4', '4')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[4].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom5" onclick="setActive('symptom5', '5')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[5].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom6" onclick="setActive('symptom6', '6')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[6].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom7" onclick="setActive('symptom7', '7')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[7].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom8" onclick="setActive('symptom8', '8')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[8].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom9" onclick="setActive('symptom9', '9')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[9].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom10" onclick="setActive('symptom10', '10')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[10].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom11" onclick="setActive('symptom11', '11')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[11].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom12" onclick="setActive('symptom12', '12')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[12].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom13" onclick="setActive('symptom13', '13')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[13].name%></h2>
                </div>
            </div>   
            <div class="symptombox" id="symptom14" onclick="setActive('symptom14', '14')">
                <p class="sympinfo inactive"></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=symptoms[14].name%></h2>
                </div>
            </div>   
        </section>
        <form id="checkSymptoms" onsubmit="handleFormSubmit(event)">
            <label><input type="checkbox" id="1" name="symptoms" value="1"> Option 1</label><br>
            <label><input type="checkbox" id="2" name="symptoms" value="2"> Option 2</label><br>
            <label><input type="checkbox" id="3" name="symptoms" value="3"> Option 3</label><br>
            <label><input type="checkbox" id="4" name="symptoms" value="4"> Option 4</label><br>
            <label><input type="checkbox" id="5" name="symptoms" value="5"> Option 5</label><br>
            <label><input type="checkbox" id="6" name="symptoms" value="6"> Option 6</label><br>
            <label><input type="checkbox" id="7" name="symptoms" value="7"> Option 7</label><br>
            <label><input type="checkbox" id="8" name="symptoms" value="8"> Option 8</label><br>
            <label><input type="checkbox" id="9" name="symptoms" value="9"> Option 9</label><br>
            <label><input type="checkbox" id="10" name="symptoms" value="10"> Option 10</label><br>
            <label><input type="checkbox" id="11" name="symptoms" value="11"> Option 11</label><br>
            <label><input type="checkbox" id="12" name="symptoms" value="12"> Option 12</label><br>
            <label><input type="checkbox" id="13" name="symptoms" value="13"> Option 13</label><br>
            <label><input type="checkbox" id="14" name="symptoms" value="14"> Option 14</label><br>
            <label><input type="checkbox" id="15" name="symptoms" value="15"> Option 15</label><br>
            <button type="submit">Submit</button>
        </form>
        <div id="results">
            
        </div>
        
        <!-- <div id="results"></div> -->
    </main>

    <footer>
        <address><%=footerText%></address>
    </footer>
</body>
</html>