<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
    <script src="../setSymptomActive.js" defer></script>
</head>
<body>
    
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        </div>
        <nav id="mainNav">
            <ul class = "mainNav">
                <li class="nav">
                    <a href="/"><%=homeNav%></a>
                </li>
                <li class="nav">
                    <a href="/symptoms"><%=symptomsNav%></a>
                </li>
                <li class="nav">
                    <a href="/contact"><%=contactNav%></a>
                </li>
                <li class="nav">
                    <a href="/learning"><%=learningNav%></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="text">
            <h1><%=header%></h1>
            <p>
                <%-description%>
            </p>
        </section>

        <section id="symptomsearch">
            <div class="symptombox" id="headache" onclick="setActive('headache')">
                <p class="sympinfo inactive"><%=headacheDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom1%></h2>
                </div>
            </div>   
            <div class="symptombox" id="fever" onclick="setActive('fever')">
                <p class="sympinfo inactive"><%=feverDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom2%></h2>
                </div>
            </div>   
            <div class="symptombox" id="open" onclick="setActive('open')">
                <!-- Change ID of above line? not sure why its 'open' -->
                <!-- also wound and nausea flipped? -->
                <p class="sympinfo inactive"><%=woundDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom3%></h2>
                </div>
            </div>   
            <div class="symptombox" id="nausea" onclick="setActive('nausea')">
                <p class="sympinfo inactive"><%=nauseaDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom4%></h2>
                </div>
            </div>   
            <div class="symptombox" id="appatite" onclick="setActive('appatite')">
                <!-- appatite typo wont change rn as not sure where else shows -->
                <p class="sympinfo inactive"><%=appetiteDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom5%></h2>
                </div>
            </div>   
            <div class="symptombox" id="">
                <p class="sympinfo inactive"><%=nightSweatsDesc%></p>
                <img src="../Public/assets/" alt=""/>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom6%></h2>
                </div>
            </div>   
            <div class="symptombox">
                <p class="sympinfo inactive"><%=vomitingDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom7%></h2>
                </div>
            </div>   
            <div class="symptombox">
                <p class="sympinfo inactive"><%=blurredVisionDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom8%></h2>
                </div>
            </div>   
            <!-- Previously had 8 symptom boxes now 9? -->
            <div class="symptombox">
                <p class="sympinfo inactive">this needs replacing</p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom2%></h2>
                </div>
            </div>   
        </section>
            <button id="symptomSubmit">
                    <%=button%>
            </button>
    </main>

</body>
</html>