<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
    <script src="../setSymptomActive.js" defer></script>
</head>
<body>
    
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        </div>
        <nav id="mainNav">
            <ul class = "mainNav">
                <li class="nav">
                    <a href="/"><%=homeNav%></a>
                </li>
                <li class="nav">
                    <a href="/symptoms"><%=symptomsNav%></a>
                </li>
                <li class="nav">
                    <a href="/contact"><%=contactNav%></a>
                </li>
                <li class="nav">
                    <a href="/learning"><%=learningNav%></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="text">
            <h1><%=header%></h1>
            <p>
                <%-description%>
            </p>
        </section>

        <section id="symptomsearch">
            <div class="symptombox" id="headache" onclick="setActive('headache', '1')">
                <p class="sympinfo inactive"><%=headacheDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom1%></h2>
                </div>
            </div>   
            <div class="symptombox" id="fever" onclick="setActive('fever', '2')">
                <p class="sympinfo inactive"><%=feverDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom2%></h2>
                </div>
            </div>   
            <div class="symptombox" id="open" onclick="setActive('open', '3')">
                <!-- Change ID of above line? not sure why its 'open' -->
                <!-- also wound and nausea flipped? -->
                <p class="sympinfo inactive"><%=woundDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom3%></h2>
                </div>
            </div>   
            <div class="symptombox" id="nausea" onclick="setActive('nausea', '4')">
                <p class="sympinfo inactive"><%=nauseaDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom4%></h2>
                </div>
            </div>   
            <div class="symptombox" id="nightSweat" onclick="setActive('nightSweat', '5')">
                <p class="sympinfo inactive"><%=nightSweatsDesc%></p>
                <img src="../Public/assets/" alt=""/>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom6%></h2>
                </div>
            </div>   
            <div class="symptombox" id="vomiting" onclick="setActive('vomiting', '6')">
                <p class="sympinfo inactive"><%=vomitingDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom7%></h2>
                </div>
            </div>   
            <div class="symptombox" id="blurredVision" onclick="setActive('blurredVision', '7')">
                <p class="sympinfo inactive"><%=blurredVisionDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom8%></h2>
                </div>
            </div>   
            <div class="symptombox" id="appetite" onclick="setActive('appetite', '8')">
                <!-- appatite typo wont change rn as not sure where else shows -->
                <p class="sympinfo inactive"><%=appetiteDesc%></p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom5%></h2>
                </div>
            </div>   
            <!-- Previously had 8 symptom boxes now 9? -->
            <!-- <div class="symptombox">
                <p class="sympinfo inactive">this needs replacing</p>
                <div class="textbox">
                    <h2 class="homeBoxH2"><%=Symptom2%></h2>
                </div>
            </div>    -->
        </section>
        <form id="checkSymptoms" onsubmit="handleFormSubmit(event)">
            <label><input type="checkbox" id="1" name="symptoms" value="1"> Option 1</label><br>
            <label><input type="checkbox" id="2" name="symptoms" value="2"> Option 2</label><br>
            <label><input type="checkbox" id="3" name="symptoms" value="3"> Option 3</label><br>
            <label><input type="checkbox" id="4" name="symptoms" value="4"> Option 4</label><br>
            <label><input type="checkbox" id="5" name="symptoms" value="5"> Option 5</label><br>
            <label><input type="checkbox" id="6" name="symptoms" value="6"> Option 6</label><br>
            <label><input type="checkbox" id="7" name="symptoms" value="7"> Option 7</label><br>
            <label><input type="checkbox" id="8" name="symptoms" value="8"> Option 8</label><br>
            <button type="submit">Submit</button>
        </form>
        <div id="results"></div>
        
        <div id="results"></div>
    </main>

</body>
</html>